
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report/
/allure-results/
/screenshots/
/Utils/config.ts
/test-data/
/.env
/.env.local 
/allure-single-html-report/

